src/Sigep/Support/wsdl/AtendeClienteService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<!-- wsdl para a versao 1.1.14-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cliente.bean.master.sigep.bsb.correios.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cliente.bean.master.sigep.bsb.correios.com.br/" name="AtendeClienteService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://cliente.bean.master.sigep.bsb.correios.com.br/" schemaLocation="http://200.252.60.208/SigepCliente/AtendeClienteService?xsd=1"/>
		</xsd:schema>
	</types>
	<message name="fechaPlp">
		<part name="parameters" element="tns:fechaPlp"/>
	</message>
	<message name="fechaPlpResponse">
		<part name="parameters" element="tns:fechaPlpResponse"/>
	</message>
	<message name="AutenticacaoException">
		<part name="fault" element="tns:AutenticacaoException"/>
	</message>
	<message name="SigepClienteException">
		<part name="fault" element="tns:SigepClienteException"/>
	</message>
	<message name="fechaPlpVariosServicos">
		<part name="parameters" element="tns:fechaPlpVariosServicos"/>
	</message>
	<message name="fechaPlpVariosServicosResponse">
		<part name="parameters" element="tns:fechaPlpVariosServicosResponse"/>
	</message>
	<message name="solicitaXmlPlp">
		<part name="parameters" element="tns:solicitaXmlPlp"/>
	</message>
	<message name="solicitaXmlPlpResponse">
		<part name="parameters" element="tns:solicitaXmlPlpResponse"/>
	</message>
	<message name="validaPlp">
		<part name="parameters" element="tns:validaPlp"/>
	</message>
	<message name="validaPlpResponse">
		<part name="parameters" element="tns:validaPlpResponse"/>
	</message>
	<message name="solicitaEtiquetas">
		<part name="parameters" element="tns:solicitaEtiquetas"/>
	</message>
	<message name="solicitaEtiquetasResponse">
		<part name="parameters" element="tns:solicitaEtiquetasResponse"/>
	</message>
	<message name="geraDigitoVerificadorEtiquetas">
		<part name="parameters" element="tns:geraDigitoVerificadorEtiquetas"/>
	</message>
	<message name="geraDigitoVerificadorEtiquetasResponse">
		<part name="parameters" element="tns:geraDigitoVerificadorEtiquetasResponse"/>
	</message>
	<message name="obterClienteAtualizacao">
		<part name="parameters" element="tns:obterClienteAtualizacao"/>
	</message>
	<message name="obterClienteAtualizacaoResponse">
		<part name="parameters" element="tns:obterClienteAtualizacaoResponse"/>
	</message>
	<message name="consultaCEP">
		<part name="parameters" element="tns:consultaCEP"/>
	</message>
	<message name="consultaCEPResponse">
		<part name="parameters" element="tns:consultaCEPResponse"/>
	</message>
	<message name="buscaContrato">
		<part name="parameters" element="tns:buscaContrato"/>
	</message>
	<message name="buscaContratoResponse">
		<part name="parameters" element="tns:buscaContratoResponse"/>
	</message>
	<message name="buscaCliente">
		<part name="parameters" element="tns:buscaCliente"/>
	</message>
	<message name="buscaClienteResponse">
		<part name="parameters" element="tns:buscaClienteResponse"/>
	</message>
	<message name="buscaServicos">
		<part name="parameters" element="tns:buscaServicos"/>
	</message>
	<message name="buscaServicosResponse">
		<part name="parameters" element="tns:buscaServicosResponse"/>
	</message>
	<message name="verificaDisponibilidadeServico">
		<part name="parameters" element="tns:verificaDisponibilidadeServico"/>
	</message>
	<message name="verificaDisponibilidadeServicoResponse">
		<part name="parameters" element="tns:verificaDisponibilidadeServicoResponse"/>
	</message>
	<message name="obterMotivosPI">
		<part name="parameters" element="tns:obterMotivosPI"/>
	</message>
	<message name="obterMotivosPIResponse">
		<part name="parameters" element="tns:obterMotivosPIResponse"/>
	</message>
	<message name="obterAssuntosPI">
		<part name="parameters" element="tns:obterAssuntosPI"/>
	</message>
	<message name="obterAssuntosPIResponse">
		<part name="parameters" element="tns:obterAssuntosPIResponse"/>
	</message>
	<message name="obterMensagemRetornoPI">
		<part name="parameters" element="tns:obterMensagemRetornoPI"/>
	</message>
	<message name="obterMensagemRetornoPIResponse">
		<part name="parameters" element="tns:obterMensagemRetornoPIResponse"/>
	</message>
	<message name="obterEmbalagemLRS">
		<part name="parameters" element="tns:obterEmbalagemLRS"/>
	</message>
	<message name="obterEmbalagemLRSResponse">
		<part name="parameters" element="tns:obterEmbalagemLRSResponse"/>
	</message>
	<message name="registrarPedidosInformacao">
		<part name="parameters" element="tns:registrarPedidosInformacao"/>
	</message>
	<message name="registrarPedidosInformacaoResponse">
		<part name="parameters" element="tns:registrarPedidosInformacaoResponse"/>
	</message>
	<message name="consultarPedidosInformacao">
		<part name="parameters" element="tns:consultarPedidosInformacao"/>
	</message>
	<message name="consultarPedidosInformacaoResponse">
		<part name="parameters" element="tns:consultarPedidosInformacaoResponse"/>
	</message>
	<message name="solicitarPostagemScol">
		<part name="parameters" element="tns:solicitarPostagemScol"/>
	</message>
	<message name="solicitarPostagemScolResponse">
		<part name="parameters" element="tns:solicitarPostagemScolResponse"/>
	</message>
	<message name="validarPostagemReversa">
		<part name="parameters" element="tns:validarPostagemReversa"/>
	</message>
	<message name="validarPostagemReversaResponse">
		<part name="parameters" element="tns:validarPostagemReversaResponse"/>
	</message>
	<message name="validarPostagemSimultanea">
		<part name="parameters" element="tns:validarPostagemSimultanea"/>
	</message>
	<message name="validarPostagemSimultaneaResponse">
		<part name="parameters" element="tns:validarPostagemSimultaneaResponse"/>
	</message>
	<message name="cancelarPedidoScol">
		<part name="parameters" element="tns:cancelarPedidoScol"/>
	</message>
	<message name="cancelarPedidoScolResponse">
		<part name="parameters" element="tns:cancelarPedidoScolResponse"/>
	</message>
	<message name="integrarUsuarioScol">
		<part name="parameters" element="tns:integrarUsuarioScol"/>
	</message>
	<message name="integrarUsuarioScolResponse">
		<part name="parameters" element="tns:integrarUsuarioScolResponse"/>
	</message>
	<message name="getStatusCartaoPostagem">
		<part name="parameters" element="tns:getStatusCartaoPostagem"/>
	</message>
	<message name="getStatusCartaoPostagemResponse">
		<part name="parameters" element="tns:getStatusCartaoPostagemResponse"/>
	</message>
	<message name="consultaSRO">
		<part name="parameters" element="tns:consultaSRO"/>
	</message>
	<message name="consultaSROResponse">
		<part name="parameters" element="tns:consultaSROResponse"/>
	</message>
	<portType name="AtendeCliente">
		<operation name="fechaPlp">
			<input message="tns:fechaPlp"/>
			<output message="tns:fechaPlpResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="fechaPlpVariosServicos">
			<input message="tns:fechaPlpVariosServicos"/>
			<output message="tns:fechaPlpVariosServicosResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="solicitaXmlPlp">
			<input message="tns:solicitaXmlPlp"/>
			<output message="tns:solicitaXmlPlpResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="validaPlp">
			<input message="tns:validaPlp"/>
			<output message="tns:validaPlpResponse"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
		</operation>
		<operation name="solicitaEtiquetas">
			<input message="tns:solicitaEtiquetas"/>
			<output message="tns:solicitaEtiquetasResponse"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
		</operation>
		<operation name="geraDigitoVerificadorEtiquetas">
			<input message="tns:geraDigitoVerificadorEtiquetas"/>
			<output message="tns:geraDigitoVerificadorEtiquetasResponse"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
		</operation>
		<operation name="obterClienteAtualizacao">
			<input message="tns:obterClienteAtualizacao"/>
			<output message="tns:obterClienteAtualizacaoResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="consultaCEP">
			<input message="tns:consultaCEP"/>
			<output message="tns:consultaCEPResponse"/>
		</operation>
		<operation name="buscaContrato">
			<input message="tns:buscaContrato"/>
			<output message="tns:buscaContratoResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="buscaCliente">
			<input message="tns:buscaCliente"/>
			<output message="tns:buscaClienteResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="buscaServicos">
			<input message="tns:buscaServicos"/>
			<output message="tns:buscaServicosResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="verificaDisponibilidadeServico">
			<input message="tns:verificaDisponibilidadeServico"/>
			<output message="tns:verificaDisponibilidadeServicoResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="obterMotivosPI">
			<input message="tns:obterMotivosPI"/>
			<output message="tns:obterMotivosPIResponse"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="obterAssuntosPI">
			<input message="tns:obterAssuntosPI"/>
			<output message="tns:obterAssuntosPIResponse"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="obterMensagemRetornoPI">
			<input message="tns:obterMensagemRetornoPI"/>
			<output message="tns:obterMensagemRetornoPIResponse"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="obterEmbalagemLRS">
			<input message="tns:obterEmbalagemLRS"/>
			<output message="tns:obterEmbalagemLRSResponse"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="registrarPedidosInformacao">
			<input message="tns:registrarPedidosInformacao"/>
			<output message="tns:registrarPedidosInformacaoResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="consultarPedidosInformacao">
			<input message="tns:consultarPedidosInformacao"/>
			<output message="tns:consultarPedidosInformacaoResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="solicitarPostagemScol">
			<input message="tns:solicitarPostagemScol"/>
			<output message="tns:solicitarPostagemScolResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="validarPostagemReversa">
			<input message="tns:validarPostagemReversa"/>
			<output message="tns:validarPostagemReversaResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="validarPostagemSimultanea">
			<input message="tns:validarPostagemSimultanea"/>
			<output message="tns:validarPostagemSimultaneaResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="cancelarPedidoScol">
			<input message="tns:cancelarPedidoScol"/>
			<output message="tns:cancelarPedidoScolResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="integrarUsuarioScol">
			<input message="tns:integrarUsuarioScol"/>
			<output message="tns:integrarUsuarioScolResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="getStatusCartaoPostagem">
			<input message="tns:getStatusCartaoPostagem"/>
			<output message="tns:getStatusCartaoPostagemResponse"/>
			<fault message="tns:AutenticacaoException" name="AutenticacaoException"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
		<operation name="consultaSRO">
			<input message="tns:consultaSRO"/>
			<output message="tns:consultaSROResponse"/>
			<fault message="tns:SigepClienteException" name="SigepClienteException"/>
		</operation>
	</portType>
	<binding name="AtendeClientePortBinding" type="tns:AtendeCliente">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="fechaPlp">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="fechaPlpVariosServicos">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="solicitaXmlPlp">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="validaPlp">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
		</operation>
		<operation name="solicitaEtiquetas">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
		</operation>
		<operation name="geraDigitoVerificadorEtiquetas">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
		</operation>
		<operation name="obterClienteAtualizacao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="consultaCEP">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="buscaContrato">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="buscaCliente">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="buscaServicos">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="verificaDisponibilidadeServico">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="obterMotivosPI">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="obterAssuntosPI">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="obterMensagemRetornoPI">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="obterEmbalagemLRS">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="registrarPedidosInformacao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="consultarPedidosInformacao">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="solicitarPostagemScol">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="validarPostagemReversa">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="validarPostagemSimultanea">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="cancelarPedidoScol">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="integrarUsuarioScol">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="getStatusCartaoPostagem">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="AutenticacaoException">
				<soap:fault name="AutenticacaoException" use="literal"/>
			</fault>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
		<operation name="consultaSRO">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="SigepClienteException">
				<soap:fault name="SigepClienteException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="AtendeClienteService">
		<port name="AtendeClientePort" binding="tns:AtendeClientePortBinding">
			<soap:address location="http://200.252.60.208/SigepCliente/AtendeClienteService"/>
		</port>
	</service>
</definitions>